rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // السماح بالقراءة والكتابة على مجموعة orders
    match /orders/{orderId} {
      allow read, write: if true;
    }
    
    // السماح بالقراءة والكتابة على جميع المجموعات الأخرى
    match /{document=**} {
      allow read, write: if true;
    }
  }
} 